.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.child{
    text-align: center;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.child1{
    background-color: #6DC5D1;
    border:1px solid #FEB941;
}
.child2{
    background-color: #FDE49E;
    border:1px solid #6DC5D1;
}
.child3{
    background-color: #DD761C;
    border:1px solid #FEB941;
}
@media only screen and (max-width: 768px) {
    .child {
      font-size: 14px;
      padding:5px;
      padding-right:10px;
      line-height: 20px;
      text-align: left;
    }
  }